body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
#qq-msg {
background: url("/static/images/livechat.png") no-repeat !important;
height: 180px !important;width: 87px !important;
left: -36px !important;cursor: pointer;transition: left .5s ease-in-out;
-moz-transition: left .5s ease-in-out;
-webkit-transition: left .5s ease-in-out;
-o-transition: left .5s ease-in-out;position: relative;
margin-right: 0;margin-left: 0;text-align: left;overflow: hidden;position: fixed;
top: 50%;left: 0px;margin-top: -90px;}
#qq-msg:hover {left: 0 !important;}