<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/my.css"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/html5shiv.js"  charset="utf-8"></script>
    <script type="text/javascript" src="{{STATIC_PREFIX}}js/respond.js"  charset="utf-8"></script>
 <![endif]-->
    {% block scripts_block %}{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">天物工作室</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                 {% block top %}{% endblock %}
            </ul>
        </div>
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>天物工作室</h1>
        <p>天物软件工作室有多年的软件开发经验，专注于：B/S管理平台，wxPython客户端程序，win32应用程序开发，Activex控件开发。邮件服务器，FTP服务器定制化搭建，网站建设。<br/></p>
        <p><a class="btn btn-primary btn-lg" role="button">了解更多 &raquo;</a></p>
    </div>
</div>
<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=5577964&amp;site=qq&amp;menu=yes" target="_blank">
    <div id="qq-msg"></div>
</a>
<div class="container">
 {% block container %}{% endblock %}
</div>
<footer>
    <p>&copy; 天物工作室</p>
</footer>
<!-- /container -->
<script type="text/javascript" src="{{STATIC_PREFIX}}js/jquery.min.js"  charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap.min.js" charset="utf-8"></script>

</body>
</html>