{% extends "base.html" %}
{% block top %}
<li><a href="/">首页</a></li>
<li class="active"><a href="/dev">软件开发</a></li>
<li><a href="/orign">原创软件</a></li>
<li><a href="/blog">天物博客</a></li>
{% endblock %}
{%block container%}
    <div class="well">
    <dl>
        <dt>我们简介：</dt>
        <dd>天物软件工作室有多年的软件开发经验，专注于：多线程，COOKIES管理，正则表达式，采集工具，营销软件，群发软件，留言工具等开发，
            2008年12月成立至今已经积累了1500+的定制客户和10万+的软件使用客户。</dd>

        <dt>定制分析：</dt>
        <dd>为什么需要定制软件，因为现在网络的竞争太大，手动已经不能满足我们的效率和速度，然而很多商业软件又不能达到自己的所需要的功能，
        和免费软件的一大堆缺陷，随着网络的迅速发展，目前已经越来越多人依靠着软件工作，定制软件自然也成为一种流行，不少开发WEB的技术人群转行到了软件开发行业。</dd>

        <dt>定制价格：</dt>
        <dd>由于定制软件是个人所有，所以他的价格和商业软件同比会贵出好几倍，很多人会问，为什么我购买一个XXX软件才几十块钱，
        定制要几百块钱呀，其实道理很简单，定制开发这个软件只有你自己使用，在收入方面一个软件我们开发出来只能给你一个人，
        而收费软件他是面向大众销售，意味着一个软件他可以销售给很多个人，一个软件如果自己使用跟很多个人使用价格不一样效果也会不一样。</dd>

        <dt>定制流程：</dt>
        <dd>在定制软件之前请先计划好你的软件的功能，最好是把软件的每个项目列到TXT文档中，然后提交给我们，我们会对你所需要的功能进行评估和报价，
        当双方达成协议以后，你需要给我们支付30%的软件定金，我们会在指定的时间内把软件开发出来，开发好以后，我们会以QQ远程的方式给与你远程操作和体验，
        体验结束以后没有问题支付余款，我们会将软件以QQ附件，网盘，邮件方式发送给你。收到软件以后尽快测试使用把软件所存在的BUG收集起来，我们会针对提交的BUG一并进行修改。</dd>

        <dt>特别注意：</dt>
        <dd>我们工作室不开发游戏外挂，游戏脚本，黑客软件以及木马程序。</dd>
      </dl>
    </div>
{%endblock%}